<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd ">

	<!-- Action -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<!--
					<prop
					key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				-->
				<!--			<prop key="hibernate.dialect">ormon.JacSQLServerDialect</prop>-->
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
 				<value>com/zgld/api/beans/AliPayConfig.hbm.xml</value>
				<value>com/zgld/api/beans/AspNetSqlCacheTablesForChangeNotification.hbm.xml</value>
				<value>com/zgld/api/beans/BalanceDetails.hbm.xml</value>
				<value>com/zgld/api/beans/BalanceDrawRequest.hbm.xml</value>
				<value>com/zgld/api/beans/BalanceFreezeDetails.hbm.xml</value>
				<value>com/zgld/api/beans/BrandCategories.hbm.xml</value>
				<value>com/zgld/api/beans/Categories.hbm.xml</value>
			 	<value>com/zgld/api/beans/Favorite.hbm.xml</value>
				<value>com/zgld/api/beans/Gifts.hbm.xml</value>
				<value>com/zgld/api/beans/Hotkeywords.hbm.xml</value>
				<value>com/zgld/api/beans/InpourRequest.hbm.xml</value>
				<value>com/zgld/api/beans/OrderItems.hbm.xml</value>
				<value>com/zgld/api/beans/OrderLeaveWords.hbm.xml</value>
				<value>com/zgld/api/beans/Orders.hbm.xml</value>
				<value>com/zgld/api/beans/PayType.hbm.xml</value>
				<value>com/zgld/api/beans/PhotoCategories.hbm.xml</value>
				<value>com/zgld/api/beans/PhotoGallery.hbm.xml</value>
				<value>com/zgld/api/beans/PointDetails.hbm.xml</value> 
				<value>com/zgld/api/beans/ProductConsultations.hbm.xml</value>
				<value>com/zgld/api/beans/ProductExtendCategories.hbm.xml</value>
				<value>com/zgld/api/beans/ProductImages.hbm.xml</value>
				<value>com/zgld/api/beans/ProductReviews.hbm.xml</value>
				<value>com/zgld/api/beans/Products.hbm.xml</value>
 				<value>com/zgld/api/beans/PromoteSales.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesDiscount.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesFee.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesGifts.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesGive.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesPresent.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesProducts.hbm.xml</value>
				<value>com/zgld/api/beans/PromoteSalesQuantityDiscount.hbm.xml</value>
				<value>com/zgld/api/beans/RefundOrders.hbm.xml</value>
				<value>com/zgld/api/beans/RelatedProducts.hbm.xml</value>
				<value>com/zgld/api/beans/Shipper.hbm.xml</value>
				<value>com/zgld/api/beans/Shipping.hbm.xml</value>
				<value>com/zgld/api/beans/ShippingPrice.hbm.xml</value>
				<value>com/zgld/api/beans/ShoppingCarts.hbm.xml</value>
				<value>com/zgld/api/beans/Sku.hbm.xml</value>
				<value>com/zgld/api/beans/Skugroup.hbm.xml</value>
				<value>com/zgld/api/beans/UserProfile.hbm.xml</value>
				<value>com/zgld/api/beans/UserRanks.hbm.xml</value>
				<value>com/zgld/api/beans/Users.hbm.xml</value>
				<value>com/zgld/api/beans/UserShippingAddresses.hbm.xml</value>
				<value>com/zgld/api/beans/YAccount.hbm.xml</value>
				<value>com/zgld/api/beans/YAd.hbm.xml</value>
				<value>com/zgld/api/beans/YAdImg.hbm.xml</value>
				<value>com/zgld/api/beans/YAdMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YAdmin.hbm.xml</value>
				<value>com/zgld/api/beans/YAdminGroup.hbm.xml</value>
				<value>com/zgld/api/beans/YAdPosition.hbm.xml</value>
				<value>com/zgld/api/beans/YArea.hbm.xml</value>
				<value>com/zgld/api/beans/YArticle.hbm.xml</value>
				<value>com/zgld/api/beans/YArticleClass.hbm.xml</value>
				<value>com/zgld/api/beans/YArticleClassMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YArticleComment.hbm.xml</value>
				<value>com/zgld/api/beans/YArticleContent.hbm.xml</value>
				<value>com/zgld/api/beans/YArticleSpecial.hbm.xml</value>
				<value>com/zgld/api/beans/YArticleSpecialMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YCart.hbm.xml</value>
				<value>com/zgld/api/beans/YCartMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YChatGroup.hbm.xml</value>
				<value>com/zgld/api/beans/YDns.hbm.xml</value>
				<value>com/zgld/api/beans/YEmailConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YEmailSend.hbm.xml</value>
				<value>com/zgld/api/beans/YEmailSendMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YFiles.hbm.xml</value>
				<value>com/zgld/api/beans/YFilesMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YForm.hbm.xml</value>
				<value>com/zgld/api/beans/YFormCombine.hbm.xml</value>
				<value>com/zgld/api/beans/YFormCombineValue.hbm.xml</value>
				<value>com/zgld/api/beans/YFormControl.hbm.xml</value>
				<value>com/zgld/api/beans/YFormTag.hbm.xml</value>
				<value>com/zgld/api/beans/YFormValue.hbm.xml</value>
				<value>com/zgld/api/beans/YFriend.hbm.xml</value>
				<value>com/zgld/api/beans/YFriendChat.hbm.xml</value>
				<value>com/zgld/api/beans/YFunConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YGoods.hbm.xml</value>
				<value>com/zgld/api/beans/YGoodsBrand.hbm.xml</value>
				<value>com/zgld/api/beans/YGoodsClass.hbm.xml</value>
				<value>com/zgld/api/beans/YGoodsCollect.hbm.xml</value>
				<value>com/zgld/api/beans/YGoodsComment.hbm.xml</value>
				<value>com/zgld/api/beans/YGoodsImgs.hbm.xml</value>
				<value>com/zgld/api/beans/YGoodsScan.hbm.xml</value>
				<value>com/zgld/api/beans/YGroupChat.hbm.xml</value>
				<value>com/zgld/api/beans/YGroupMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YImageCut.hbm.xml</value>
				<value>com/zgld/api/beans/YImageSize.hbm.xml</value>
				<value>com/zgld/api/beans/YInfoConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YLeader.hbm.xml</value>
				<value>com/zgld/api/beans/YLeaderClass.hbm.xml</value>
				<value>com/zgld/api/beans/YLeaderClassMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YLinks.hbm.xml</value>
				<value>com/zgld/api/beans/YLinksClass.hbm.xml</value>
				<value>com/zgld/api/beans/YLinksClassMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YLog.hbm.xml</value>
				<value>com/zgld/api/beans/YMenu.hbm.xml</value>
				<value>com/zgld/api/beans/YMenuClass.hbm.xml</value>
				<value>com/zgld/api/beans/YMenuMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YMenuRoleMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YMenuShort.hbm.xml</value>
				<value>com/zgld/api/beans/YMessage.hbm.xml</value>
				<value>com/zgld/api/beans/YMessageClass.hbm.xml</value>
				<value>com/zgld/api/beans/YMessageClassMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YMsgAccount.hbm.xml</value>
				<value>com/zgld/api/beans/YNotice.hbm.xml</value>
				<value>com/zgld/api/beans/YNoticeClass.hbm.xml</value>
				<value>com/zgld/api/beans/YNoticeClassMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YNoticeMatchAccount.hbm.xml</value>
				<value>com/zgld/api/beans/YOrder.hbm.xml</value>
				<value>com/zgld/api/beans/YOrderMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YOrderSend.hbm.xml</value>
				<value>com/zgld/api/beans/YPersonalFunConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YRebateConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YRebateLevel.hbm.xml</value>
				<value>com/zgld/api/beans/YRebateRelation.hbm.xml</value>
				<value>com/zgld/api/beans/YReceiveAddress.hbm.xml</value>
				<value>com/zgld/api/beans/YRights.hbm.xml</value>
				<value>com/zgld/api/beans/YRightsMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YRightsRoleMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YRole.hbm.xml</value>
				<value>com/zgld/api/beans/YSearchLabel.hbm.xml</value>
				<value>com/zgld/api/beans/YServiceChat.hbm.xml</value>
				<value>com/zgld/api/beans/YShipping.hbm.xml</value>
				<value>com/zgld/api/beans/YShippingPrice.hbm.xml</value>
				<value>com/zgld/api/beans/YShop.hbm.xml</value>
				<value>com/zgld/api/beans/YSmsConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YSmsSend.hbm.xml</value>
				<value>com/zgld/api/beans/YSmsSendMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YSystemConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YThemeConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YUnit.hbm.xml</value>
				<value>com/zgld/api/beans/YUnitClass.hbm.xml</value>
				<value>com/zgld/api/beans/YUnitMatchAccount.hbm.xml</value>
				<value>com/zgld/api/beans/YUnitWebApply.hbm.xml</value>
				<value>com/zgld/api/beans/YWebApply.hbm.xml</value>
				<value>com/zgld/api/beans/YWebConfig.hbm.xml</value>
				<value>com/zgld/api/beans/YWorker.hbm.xml</value>
				<value>com/zgld/api/beans/YWorkerClass.hbm.xml</value>
				<value>com/zgld/api/beans/YWorkerClassMatch.hbm.xml</value>
				<value>com/zgld/api/beans/YWxpayConfig.hbm.xml</value>
			</list>
		</property>
	</bean>
</beans>