<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd ">

	<!-- Action -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<!--
					<prop
					key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				-->
				<!--			<prop key="hibernate.dialect">ormon.JacSQLServerDialect</prop>-->
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/zgld/api/beans/AspnetUsers.hbm.xml</value>
				<value>com/zgld/api/beans/AspnetMembers.hbm.xml</value>
				<value>
					com/zgld/api/beans/AspnetUsersInRoles.hbm.xml</value>
				<value>com/zgld/api/beans/AspnetRoles.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopProductTypes.hbm.xml</value>
				<value>com/zgld/api/beans/HishopProducts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopShoppingCarts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopSkumemberPrice.hbm.xml</value>
				<value>com/zgld/api/beans/HishopSkus.hbm.xml</value>
				<value>com/zgld/api/beans/HishopSkuitems.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopAttributeValues.hbm.xml</value>
				<value>com/zgld/api/beans/HishopAttributes.hbm.xml</value>
				<value>com/zgld/api/beans/HishopCoupons.hbm.xml</value>
				<value>com/zgld/api/beans/HishopAffiche.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopInpourRequest.hbm.xml</value>
				<value>com/zgld/api/beans/HishopArticles.hbm.xml</value>
				<value>com/zgld/api/beans/HishopVoteItems.hbm.xml</value>
				<value>com/zgld/api/beans/HishopShippers.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPointDetails.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPrivilegeInRoles.hbm.xml</value>
				<value>com/zgld/api/beans/Supplier.hbm.xml</value>
				<value>com/zgld/api/beans/HishopTags.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopShippingTypeGroups.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopProductReviews.hbm.xml</value>
				<value>com/zgld/api/beans/HishopCategories.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopLeaveComments.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopShippingTypes.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopOrderLookupItems.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopFullDiscounts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopShippingRegions.hbm.xml</value>
				<value>com/zgld/api/beans/HishopFavorite.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPhotoCategories.hbm.xml</value>
				<value>
					com/zgld/api/beans/AspnetOpenIdSettings.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPurchaseGifts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopProductTypeBrands.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopOrderOptions.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopWholesaleDiscounts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPaymentTypes.hbm.xml</value>
				<value>com/zgld/api/beans/HishopVotes.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopMemberMessageBox.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPhotoGallery.hbm.xml</value>
				<value>com/zgld/api/beans/HishopLogs.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopHelpCategories.hbm.xml</value>
				<value>com/zgld/api/beans/HishopSuppliers.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopProductAttributes.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopShippingTemplates.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopTemplateRelatedShipping.hbm.xml</value>
				<value>com/zgld/api/beans/AspnetManagers.hbm.xml</value>
				<value>com/zgld/api/beans/TaobaoProducts.hbm.xml</value>
				<value>com/zgld/api/beans/HishopFullFree.hbm.xml</value>
				<value>
					com/zgld/api/beans/AspnetMemberGrades.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopBalanceDetails.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopApiShorpCart.hbm.xml</value>
				<value>com/zgld/api/beans/HishopHelps.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopRelatedArticsProducts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopFriendlyLinks.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopExpressTemplates.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopBrandCategories.hbm.xml</value>
				<value>com/zgld/api/beans/HishopOrderGifts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopCouponItems.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopManagerMessageBox.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopRelatedProducts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopMessageTemplates.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopGroupBuyCondition.hbm.xml</value>
				<value>com/zgld/api/beans/HishopGroupBuy.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPromotionProducts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopArticleCategories.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopLeaveCommentReplys.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopIntegrationSettings.hbm.xml</value>
				<value>com/zgld/api/beans/HishopPromotions.hbm.xml</value>
				<value>com/zgld/api/beans/HishopProductTag.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopBalanceDrawRequest.hbm.xml</value>
				<value>com/zgld/api/beans/HishopCountDown.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopProductConsultations.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopGiftShoppingCarts.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopMessageContent.hbm.xml</value>
				<value>com/zgld/api/beans/HishopGifts.hbm.xml</value>
				<value>com/zgld/api/beans/HishopOrders.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopUserShippingAddresses.hbm.xml</value>
				<value>com/zgld/api/beans/HishopOrderItems.hbm.xml</value>
				<value>com/zgld/api/beans/HishopEmailQueue.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopPromotionMemberGrades.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopHotkeywords.hbm.xml</value>
				<value>
					com/zgld/api/beans/HishopCellphoneQueue.hbm.xml</value>
				<value>com/zgld/api/beans/HishopOrderLookupLists.hbm.xml</value>
				<value>com/zgld/api/beans/UserToken.hbm.xml</value>
				<value>com/zgld/api/beans/HotCategory.hbm.xml</value>
				<value>com/zgld/api/beans/SupperArea.hbm.xml</value>
				<value>com/zgld/api/beans/SupperHot.hbm.xml</value>
				<value>com/zgld/api/beans/VwHishopBrowseProductList.hbm.xml</value>
			</list>
		</property>
	</bean>
</beans>